<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Enter a limit')}"></head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <form  th:action="@{/users/}" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>Number of Users to Display:</label>
                                <input id="limit" name="limit" type="number" class="form-control"/>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>